@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Vujahday+Script&display=swap');

h1{
    color: #3D97F2;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}


